Repository dbeley/rym-userscripts: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: eslint
        language: system
        files: \.(js)$
        exclude: ^eslint.config\.js$
        types: [file]

      - id: prettier
        name: prettier
        entry: prettier
        language: system
        files: \.(js|json|md|yaml|yml)$
        types: [file]
        args: [--write, --ignore-unknown]

glitchwave-charts-download: fix buttons display
  download-game-charts.user.js
Due: eslint, prettier

docs: inform about comping browser add-on
  README.md
Due: prettier

Handle several artist names in album charts
  download-album-charts.user.js
  download-film-charts.user.js
  download-song-charts.user.js
  play-chart-songs.user.js
Due: eslint, prettier

docs: update README.md
  README.md
Due: prettier

update shell.nix
  shell.nix
Due: none

docs: update documentation 2026-06-05
  README.md
Due: prettier
